:root {
  --beige: #f6f2ee;
  --pink: #e8cfcf;
  --gold: #c2a46d;
  --text: #333;
}

* {
  box-sizing: border-box;
}

body {
  margin: 12px;
  font-family: 'Lato', sans-serif;
  color: var(--text);
  background: var(--beige);
  line-height: 1.6;

}

/* .section p {
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  line-height: 1.8;
  color: var(--text);
} */
.rings-icon {
  width: 100px;     /* ⬅ ZWIĘKSZASZ TU */
  height: auto;
}
.info {

  margin-top: 40px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  line-height: 1.8;
  color: var(--text);
}

/* HERO */
.hero {
  height: 100vh;
  background: url('../img/hero.jpg') center/cover no-repeat;
  position: relative;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  letter-spacing: 2px;
  margin: 0;
}

.date {
  font-size: 1.2rem;
  margin-top: 10px;
}

/* SEKCJE */
.section {
  padding: 80px 20px;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.section-light {
  background: #fff;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  color: var(--gold);
  margin-bottom: 30px;
}

/* PLAN DNIA */
.schedule {
  list-style: none;
  padding: 0;
  margin: 40px auto;
  max-width: 420px;
}

.schedule li {   
  margin: 12px 0;
  display: flex;
  gap: 20px;
}

.schedule span {
  color: var(--gold);
  font-weight: bold;
  min-width: 70px;
}

/* GALERIA */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.gallery img {
  width: 100%;
  height: 400px;  
  object-fit: cover;
  border-radius: 12px;
}

/* LOKALIZACJA - NAWIGUJ */
.place-link {
  color: var(--gold);
  text-decoration: none;
  font-weight: 500;
}

.place-link:hover {
  text-decoration: underline;
}

/* MAPA */
.map iframe {
  width: 100%;
  height: 300px;
  border: none;
  margin-top: 30px;
}

/* KONTAKT */
.contact p {
  margin: 10px 0;
}

/* STOPKA */
footer {
  padding: 30px;
  text-align: center;
  background: var(--pink);
}
